.nav-item {
  position: relative;
}

.nav-item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: $secondary;
  transition: width 0.3s ease-in-out;
}

.nav-item:hover::after {
  width: 100%;
}
